<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form  >
                <h1>Increase Slots</h1>
                <p class="text-muted">A for less than 18 | B for 18-45 | C for 45+ </p>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" [(ngModel)]="agegrp" name="first" class="form-control" placeholder="Age Group" autocomplete="name" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" [(ngModel)]="stock" name="second" class="form-control" placeholder="Stocks" autocomplete="name" required>
                </div>
                <button type="button" (click)="stockload()" class="btn btn-block btn-success">Create Slot</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
